[core]
	excludesFile = ~/.gitignore_global

[user]
	name = Georges Haidar
	email = ghaidar0@gmail.com

[push]
	default = current

[alias]
	lsb = for-each-ref --format='%(refname:short)' refs/heads/**
	home = "! set -eo pipefail; git lsb | egrep '^(main|master)$' | head -n 1 | xargs git switch --no-guess || echo 'main/master branch not found'"

[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta

[delta]
	features = side-by-side line-numbers decorations
	navigate = true
	line-numbers = true
	line-numbers-minus-style = "red"
	line-numbers-plus-style = "green"
	line-numbers-zero-style = "white"
	file-style = "yellow"
	file-decoration-style = "yellow none ul"
	hunk-header-style = "yellow"
	hunk-header-file-style = "yellow"
	hunk-header-line-number-style = "yellow"
	hunk-header-decoration-style = "yellow box"

[delta "unified"]
	side-by-side = false

[interactive]
	diffFilter = delta --color-only
[init]
	defaultBranch = main
